{% extends 'base.html.twig' %}
{% block body %}
<h2 class="page">Home page</h2>
<h2 class="page">Hello!!   {{showdetail.usernam}}</h2>
 <a class="btn btn-default" href="{{path('logout')}}">Logout</a>
{% endblock %}