{% extends 'base.html.twig' %}
{% block body %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Definition</a></li>
                    <li><a id="linkpro" href="/productChar" style="pointer-events: none">Product Charateristic</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <br/><br/><br/><br/><br/>
    <ul class="nav nav-tabs" id="tabContent">
        <li ><a href="/new">New</a></li>
        <li class="active"><a id="linkDefine" href="/open">Open</a></li>
        <li><a id="linkDefine" href="/import">Import</a></li>
    </ul><br/><br/>
    <div class="tab-content">
        <div class="tab-pane active" >
            <div class="box">
                <form action="/open" id="load-form" method="post">
                    <h1>Study name: <span id="name1"></span></h1>
                    <div class="row">
                        <div class="col-md-6">
                            <label> Study name</label>
                            <select id="nameStudy" class="form-control" name="stuID">
                                <option value="choose study">Choose study name</option>
                                {% for list in list %}
                                <option value="{{ list.id }}">{{ list.name }}</option>
                                {% endfor %}
                            </select>
                            <label>Comment</label>
                            <textarea class="form-control" id="commentTxt" name="comment"></textarea>
                        </div>
                        <div class="col-md-3">
                            <label>Calculate mode</label>
                            <div class="form-group">
                                <label>
                                    <input type="radio" id="calmode" name="cal" value="0"> Estimation
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="radio" id="calmode1" name="cal" value="1"> Optimum
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="radio" id="calmode2" name="cal" value="2"> Selected
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Option</label>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="eco" name="economic" value="1"> Economic
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="cryo" name="cryogen" value="2"> Cryogen
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="perform" name="perform" value="3"> Perform
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="hasChild1" name="hasChild" value="4"> Add Allow
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <button type="submit" class="btn btn-info">Import</button>
                        <button type="submit" id="update" class="btn btn-success" disabled> Save</button>
                        <button id="delete" class="btn btn-danger" type="submit" disabled>Delete</button>
                        <button class="btn btn-info" id="saveAs" type="button" data-toggle="modal" data-target="#saveAs1" disabled>Save As</button>
                    </div>
                    <div class="modal fade" id="saveAs1" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title" style="text-align: center">SaveAs</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="form-group">
                                            <label>New study</label>
                                            <input type="text" name="newStu" class="form-control">
                                        </div>
                                        <br/>
                                        <!-- /.box-body -->
                                        <!-- box-footer -->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="confirmSave" class="btn btn-info">Confirm</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(function () {
        $('#nameStudy').on('change', function () {
            var that = $(this);
            //alert(that.val());
            var id = that.val();
            $.ajax('/open', {
                data: {'id': id},
                type: 'POST',
                dataType: 'json',
                success: function (ret) {
                    var info = ret;
                    $('#commentTxt').val(info['comment']);
                    if (info['cal']  == 0  ) {
                        $('#calmode').prop("checked", true)
                    } else if (info['cal'] == 1) {
                        $('#calmode1').prop("checked", true)
                    } else if (info['cal'] == 2) {
                        $('#calmode2').prop("checked", true)
                    } else if(!info['cal']){
                        $('#calmode').prop("checked", false)
                        $('#calmode1').prop("checked", false)
                        $('#calmode2').prop("checked", false)
                    }
                    if (info['economic']) {
                        $('#eco').prop("checked", true)
                    } else {
                        $('#eco').prop("checked", false)
                    }
                    if (info['cryogen']) {
                        $('#cryo').prop("checked", true)
                    } else {
                        $('#cryo').prop("checked", false)
                    }
                    if (info['perform']) {
                        $('#perform').prop("checked", true)
                    } else {
                        $('#perform').prop("checked", false)
                    }
                    if (info['hasChild']) {
                        $('#hasChild1').prop("checked", true)
                    } else {
                        $('#hasChild1').prop("checked", false)
                    }
                    $('#delete').val(info['deleteid']);
                    $('#update').val(info['updateid']);
                    var stu_name = $("#nameStudy option:selected").text();
                    document.getElementById("name1").innerHTML = stu_name;

                    var link = $('#linkpro');
                    link.attr('href', '/productChar/' + id + '/' + stu_name);
                }
            })
        });

        $('#update').click(function(){
            //change action for form
            $("#load-form").attr("action", "/save");
            //form.submit
            document.getElementById("#load-form").submit();
        })
        $('#delete').click(function(){
            //change action for form
            $("#load-form").attr("action", "/delete");
            //form.submit
            document.getElementById("#load-form").submit();
        })
        $('#confirmSave').click(function(){
            //change action for form
            $("#load-form").attr("action", "/saveAs");
            //form.submit
            document.getElementById("#load-form").submit();
        })
        $('#nameStudy').change(function() {
            $('#update, #delete, #saveAs').prop( "disabled", true );
            if($(this).val() === "choose study"){
                $('#update, #delete, #saveAs').prop( "disabled", true );
                document.getElementById("linkpro").style.pointerEvents = "none";
            }else {
                $('#update, #delete, #saveAs').prop( "disabled", false );
                document.getElementById("linkpro").style.pointerEvents = "visible";
            }
        });
    });
</script>
    <style>
        .disabled {
            pointer-events: none;
        }
    </style>
{% endblock %}

